<div><br /></div>
<div class='container'>
	<div class='row'>
		<div class='col-md-8'>
			<h2>Listado de productos</h2>
			<table class='table'>
				<thead>
					<tr>
						<th scope='col'>Nombre</th>
						<th scope='col'>Descripción</th>
						<th scope='col'>Code</th>
						<th scope='col'>Precio</th>
						<th scope='col'>Stock</th>
						<th scope='col'>Status</th>
						<th scope='col'>Categoria</th>
						<th scope='col'>Imagen</th>
					</tr>
				</thead>
				<tbody>
					{{#each docs}}
					<tr>
						<td>{{this.title}}</td>
						<td>{{this.description}}</td>
						<td>{{this.code}}</td>
						<td>${{this.price}}</td>
						<td>{{this.stock}}</td>
						<td>{{this.status}}</td>
						<td>{{this.category}}</td>
						<td>{{this.thumbnail}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="col-12 text-area=center">
			<nav>
				<ul class="pagination pagination-sm">
					{{#if hasPrevPage}}<li class="page-item"> {{else}}
					<li class="page-item disabled">{{/if}}
						<a class="page-link"
							href="?limit={{limit}}&page={{prevPage}}&status={{status}}&category={{category}}&sort={{sort}}">Previous</a>
					</li>

					<li class="page-item">
						<a class="page-link"
							href="?limit={{limit}}&page={{prevPage}}&status={{status}}&category={{category}}&sort={{sort}}">{{prevPage}}</a>
					</li>

					<li class="page-item active" aria-current="page">
						<a class="page-link" href="#">{{page}}</a>
					</li>

					<li class="page-item">
						<a class="page-link"
							href="?limit={{limit}}&page={{nextPage}}&status={{status}}&category={{category}}&sort={{sort}}">{{nextPage}}</a>
					</li>

					{{#if hasNextPage}}<li class="page-item">{{else}}
					<li class="page-item disabled">{{/if}}
						<a class="page-link"
							href="?limit={{limit}}&page={{nextPage}}&status={{status}}&category={{category}}&sort={{sort}}">Next</a>
					</li>
				</ul>
			</nav>
		</div>


		<div class="category">
			<h3>Filtros</h3>
			<form method='get'>

				<h4>Categorias</h4>
				<div class="col-6">
					<select class='form-select' aria-label='Category' name='category' required='true' />
					<option selected value='undefined'>Todos los productos</option>
					<option value="accesorios">Accesorios</option>
					<option value="alimento">Alimento</option>
					<option value="medicacion">Medicación</option>
					</select>

					<h4>Precio</h4>
					<div class="col-6">
						<select class='form-select' aria-label='Sort' name='sort' required='true'>
							<option selected value="undefined">Sin ordenar</option>
							<option value="desc">Precio descendente</option>
							<option value="asc">Precio ascendente</option>
						</select>
					</div>

					<h4>Status</h4>
					<div class="col-6">
						<select class='form-select' aria-label='Status' name='status' required='true' />
						<option selected value="true">True</option>
						<option value="false">False</option>
						</select>

						<button type='submit' class=' btn btn-primary form-control'>
							Filtrar
						</button>
					</div>
			</form>
		</div>


		<div class="col-6">
			<h2>Alta de Producto</h2>
			<form action='/api/products' method='post'>
				<div class='row'>
					<div class='col-6'>
						<input type='text' class='form-control' placeholder='Title' aria-label='Title' name='title'
							required=true />
					</div>
					<div class='col-6'>
						<input type='text' class='form-control' placeholder='Description' aria-label='Description'
							name='description' required=true />
					</div>
					<div class='col-6'>
						<input type='text' class='form-control' placeholder='Code' aria-label='Code' name='code' />
					</div>
					<div class='col-6'>
						<input type='number' class='form-control' placeholder='Price' aria-label='Price' name='price'
							required='true' />
					</div>
					<div class='col-6'>
						<input type='number' class='form-control' placeholder='Stock' aria-label='Stock' name='stock'
							required='true' />
					</div>
					<div class="col-6">
						<select class='form-select' aria-label='Status' name='status' required='true' />
						<option selected value="true">True</option>
						<option value="false">False</option>
						</select>
 					</div>
					<div class='col-6'>
						<select class="form-select" aria-label="Default select example" name="category"
							required='true' />
						<option value="alimento">Alimento</option>
						<option selected value="accesorios">Accesorios</option>
						<option value="medicacion">Medicación</option>
						</select>
					</div>
					<div class='col-6'>
						<input type='text' class='form-control' placeholder='Image' aria-label='Image' name='thumbnail'
							required='true' />
					</div>

					<div class='col-6'>
						<button type='submit' class=' btn btn-primary form-control'>
							Enviar
						</button>
					</div>
				</div>
			</form>



		</div>