<div class="container" >
<div class="row">
	<div class="col-md-12">
		<h1>Carga de productos</h1>
		<form id="carga">
			<div class="col-md-4">
				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Title" class="form-control" id="title" >	
			</div>
			<div class="col-md-4">
				<label for="description">Description</label>
				<input type="text" name="description" placeholder="Description" class="form-control" id="description" >
			</div>
			<div class="col-md-4">
				<label for="code">Code</label>
				<input type="text" name="code" placeholder="Code" class="form-control" id="code" >
			</div>
			<div class="col-md-4">
				<label for="price">Price</label>
				<input type="number" name="price" placeholder="Price" class="form-control" id="price" >
			</div>
			<div class="col-md-4">
				<label for="stock">Stock</label>
				<input type="number" name="stock" placeholder="Stock" class="form-control" id="stock" >
			</div>
			<div class="col-md-4">
				<label for="status">Status</label>
				<input type="text" name="status" placeholder="Status" class="form-control" id="status" >
			</div>
			<div class="col-md-4">
				<label for="category">Category</label>
				<input type="text" name="category" placeholder="Category" class="form-control" id="category" >
			</div>
			<div class="col-md-4">
				<label for="thumbnail">Thumbnail</label>
				<input type="text" name="thumbnail" placeholder="Thumbnail" class="form-control" id="thumbnail" >
			</div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-primary">Enviar</button>
			</div>

		<div id="realTimeProducts"></div>

    <div class="col-md-4">
        <h1>Products</h1>
            {{!-- <div class="col-md-4">
                <select class="form-select" aria-label="Default select example" id="categoryFilter">
                    <option selected value="">Todas las categorías</option>
                    <option value="alimento">Alimento</option>
					<option value="accesorio">Accesorio</option>
					<option value="medicacion">Medicación</option>
                </select> --}}
            </div>
		
		<div class="col-md-4">
        <table class='table' id="productTable">
			<thead>
				<tr>
					<th scope='col'>ID</th>
					<th scope='col'>Title</th>
					<th scope='col'>Description</th>
					<th scope='col'>Code</th>
					<th scope='col'>Price</th>
					<th scope='col'>Stock</th>
					<th scope='col'>Status</th>
					<th scope='col'>Category</th>
					<th scope='col'>Thumbnail</th>
				</tr>
			</thead>
			<tbody>
				{{#each docs}}
					<tr>
						<th scope='row'>{{this._id}}  </th>
						<td>{{this.title}} </td>
						<td>{{this.description}} </td>
						<td>{{this.code}} </td>
						<td>{{this.price}} </td>
						<td>{{this.stock}} </td>
						<td>{{this.status}} </td>
						<td>{{this.category}} </td>
						<td>{{this.thumbnail}} </td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="col-12 text-center">
		<nav aria-label="...">
			<ul class="pagination">
				{{#if hasPrevPage}}
					<li class="page-item">
				{{else}}
					<li class="page-item disabled">
				{{/if}}
						<a class="page-link" href="?limit={{limit}}&page={{prevPage}}">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?limit={{limit}}&page={{prevPage}}">{{prevPage}}</a>
					</li>
					<li class="page-item active" aria-current="page">
						<a class="page-link" href="#">{{page}}</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?limit={{limit}}&page={{nextPage}}">{{nextPage}}</a>
					</li>
				{{#if hasNextPage}}
					<li class="page-item">
				{{else}}
					<li class="page-item disabled">
				{{/if}}
						<a class="page-link" href="?limit={{limit}}&page={{nextPage}}">Next</a>
					</li>
			</ul>
			</nav>
		</div>
    </div>
</div>
<script> var page = 'products' </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/main.js'></script>